# latihan if else, for loop

Cetak 10 bilangan asli pertama menggunakan while loop:

In [5]:
for x in range(1,11): # ambil angka dari 1-10 , x=1
    print(x)

1
2
3
4
5
6
7
8
9
10

Buat program untuk pola berikut:
```
1 
1 2 
1 2 3 
1 2 3 4 
1 2 3 4 5
```

In [17]:
x = ''
for i in range(1,6):
    x += str(i) + ' '
    print(x)

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [21]:
baris = 5
for b in range(1, baris+1): # range 1-5, misal ketika b=1
    # print(b)
    for kolom in range(1, b+1): # range 1-2
        print(kolom, end=" ") #end itu biar kesamping
    print(" ")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

Hitung penjumlahan semua angka dari 1 ke angka yang diberikan, misal diberikan input 5 maka 1+2+3+4+5

In [26]:
n = int(input('Masukkan angka yang kamu inginkan.')) # masukan angka dalam integer
sum = 0
for i in range(1, n+1):
    sum += i
print(sum)

15

Buatlah program untuk mencetak tabel perkalian dari bilangan yang diberikan. misal diberikan 2 maka:
```
2
4
6
8
10
12
14
16
18
20
```

In [28]:
n =2

for i in range(2,11,1): #start=1, stop=11,step 1
    kali = n * i
    print(kali)

4
6
8
10
12
14
16
18
20

Menampilkan angka dari list menggunakan loop dengan syarat:
- diberikan suatu list numbers = [12, 75, 150, 180, 145, 525, 50]
- Bilangan harus habis dibagi lima
- Jika jumlahnya lebih besar dari 150, lewati dan pindah ke nomor berikutnya
- Jika jumlahnya lebih besar dari 500, maka hentikan loop
-  keluaran yang diharapkan:
    ```
    75
    150
    145
    ```

In [29]:
numbers = [12, 75, 150, 180, 145, 525, 50]

for i in numbers:
    if i > 500:
        break
    elif i > 150:
        continue
    elif i%5==0:
        print(i)

75
150
145

https://www.kaggle.com/iabhishekofficial/mobile-price-classification

# Data loading

In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('train.csv')

In [5]:
df.head()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,2
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1216,1786,2769,16,8,11,1,0,0,2
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1208,1212,1411,8,2,15,1,1,0,1

In [6]:
df.tail()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
1995,794,1,0.5,1,0,1,2,0.8,106,6,...,1222,1890,668,13,4,19,1,1,0,0
1996,1965,1,2.6,1,0,0,39,0.2,187,4,...,915,1965,2032,11,10,16,1,1,1,2
1997,1911,0,0.9,1,1,1,36,0.7,108,8,...,868,1632,3057,9,1,5,1,1,0,3
1998,1512,0,0.9,0,4,1,46,0.1,145,5,...,336,670,869,18,10,19,1,1,1,0
1999,510,1,2.0,1,5,1,45,0.9,168,6,...,483,754,3919,19,4,2,1,1,1,3

In [7]:
df.sample()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
1440,1134,1,0.9,0,2,1,13,0.4,92,4,...,18,903,3632,17,8,19,1,1,0,3

In [8]:
df.shape

(2000, 21)

In [9]:
df.info() #cek type data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   battery_power  2000 non-null   int64
 1   blue           2000 non-null   int64
 2   clock_speed    2000 non-null   float64
 3   dual_sim       2000 non-null   int64
 4   fc             2000 non-null   int64
 5   four_g         2000 non-null   int64
 6   int_memory     2000 non-null   int64
 7   m_dep          2000 non-null   float64
 8   mobile_wt      2000 non-null   int64
 9   n_cores        2000 non-null   int64
 10  pc             2000 non-null   int64
 11  px_height      2000 non-null   int64
 12  px_width       2000 non-null   int64
 13  ram            2000 non-null   int64
 14  sc_h           2000 non-null   int64
 15  sc_w           2000 non-null   int64
 16  talk_time      2000 non-null   int64
 17  three_g        2000 non-null   int64
 18  touch_screen   2000 non-null   int64
 19  wifi           2000 non-null   int64
 20  price_range    2000 non-null   int64
dtypes: float64(2), int64(19)
memory usage: 328.2 KB

In [27]:
df.isnull().sum() #pengecekan ada yg missing atau tidak

battery_power    0
blue             0
clock_speed      0
dual_sim         0
fc               0
four_g           0
int_memory       0
m_dep            0
mobile_wt        0
n_cores          0
pc               0
px_height        0
px_width         0
ram              0
sc_h             0
sc_w             0
talk_time        0
three_g          0
touch_screen     0
wifi             0
price_range      0
dtype: int64

In [11]:
df.describe()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
count,2000.000000,2000.0000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,...,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000
mean,1238.518500,0.4950,1.522250,0.509500,4.309500,0.521500,32.046500,0.501750,140.249000,4.520500,...,645.108000,1251.515500,2124.213000,12.306500,5.767000,11.011000,0.761500,0.503000,0.507000,1.500000
std,439.418206,0.5001,0.816004,0.500035,4.341444,0.499662,18.145715,0.288416,35.399655,2.287837,...,443.780811,432.199447,1084.732044,4.213245,4.356398,5.463955,0.426273,0.500116,0.500076,1.118314
min,501.000000,0.0000,0.500000,0.000000,0.000000,0.000000,2.000000,0.100000,80.000000,1.000000,...,0.000000,500.000000,256.000000,5.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000
25%,851.750000,0.0000,0.700000,0.000000,1.000000,0.000000,16.000000,0.200000,109.000000,3.000000,...,282.750000,874.750000,1207.500000,9.000000,2.000000,6.000000,1.000000,0.000000,0.000000,0.750000
50%,1226.000000,0.0000,1.500000,1.000000,3.000000,1.000000,32.000000,0.500000,141.000000,4.000000,...,564.000000,1247.000000,2146.500000,12.000000,5.000000,11.000000,1.000000,1.000000,1.000000,1.500000
75%,1615.250000,1.0000,2.200000,1.000000,7.000000,1.000000,48.000000,0.800000,170.000000,7.000000,...,947.250000,1633.000000,3064.500000,16.000000,9.000000,16.000000,1.000000,1.000000,1.000000,2.250000
max,1998.000000,1.0000,3.000000,1.000000,19.000000,1.000000,64.000000,1.000000,200.000000,8.000000,...,1960.000000,1998.000000,3998.000000,19.000000,18.000000,20.000000,1.000000,1.000000,1.000000,3.000000

In [12]:
df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
battery_power,2000.0,1238.51850,439.418206,501.0,851.75,1226.0,1615.25,1998.0
blue,2000.0,0.49500,0.500100,0.0,0.00,0.0,1.00,1.0
clock_speed,2000.0,1.52225,0.816004,0.5,0.70,1.5,2.20,3.0
dual_sim,2000.0,0.50950,0.500035,0.0,0.00,1.0,1.00,1.0
fc,2000.0,4.30950,4.341444,0.0,1.00,3.0,7.00,19.0
four_g,2000.0,0.52150,0.499662,0.0,0.00,1.0,1.00,1.0
int_memory,2000.0,32.04650,18.145715,2.0,16.00,32.0,48.00,64.0
m_dep,2000.0,0.50175,0.288416,0.1,0.20,0.5,0.80,1.0
mobile_wt,2000.0,140.24900,35.399655,80.0,109.00,141.0,170.00,200.0
n_cores,2000.0,4.52050,2.287837,1.0,3.00,4.0,7.00,8.0
pc,2000.0,9.91650,6.064315,0.0,5.00,10.0,15.00,20.0
px_height,2000.0,645.10800,443.780811,0.0,282.75,564.0,947.25,1960.0
px_width,2000.0,1251.51550,432.199447,500.0,874.75,1247.0,1633.00,1998.0
ram,2000.0,2124.21300,1084.732044,256.0,1207.50,2146.5,3064.50,3998.0
sc_h,2000.0,12.30650,4.213245,5.0,9.00,12.0,16.00,19.0
sc_w,2000.0,5.76700,4.356398,0.0,2.00,5.0,9.00,18.0
talk_time,2000.0,11.01100,5.463955,2.0,6.00,11.0,16.00,20.0
three_g,2000.0,0.76150,0.426273,0.0,1.00,1.0,1.00,1.0
touch_screen,2000.0,0.50300,0.500116,0.0,0.00,1.0,1.00,1.0
wifi,2000.0,0.50700,0.500076,0.0,0.00,1.0,1.00,1.0
price_range,2000.0,1.50000,1.118314,0.0,0.75,1.5,2.25,3.0

In [13]:
df.sc_w.mean()

5.767

In [14]:
df['sc_w'].mean()

5.767

In [15]:
df.dual_sim.unique()
# df['dual_sim'].unique()

array([0, 1], dtype=int64)

In [16]:
df.dual_sim.nunique()

2

In [17]:
#filter yang n_cores 2 dan 4
df[df['n_cores'].isin([2,4])]

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1208,1212,1411,8,2,15,1,1,0,1
7,1954,0,0.5,1,0,0,24,0.8,187,4,...,512,1149,700,16,3,5,1,1,1,0
12,1815,0,2.8,0,2,0,33,0.6,159,4,...,607,748,1482,18,0,2,1,0,0,1
13,803,1,2.1,0,7,0,17,1.0,198,4,...,344,1440,2680,7,1,4,1,0,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1974,915,1,0.5,1,9,1,33,0.3,199,2,...,503,986,2156,7,3,13,1,1,0,1
1977,1379,0,1.1,1,1,1,18,0.2,129,2,...,838,885,2358,10,5,15,1,1,0,2
1986,1139,1,0.9,1,6,1,58,0.5,161,2,...,742,999,1850,9,4,8,1,0,0,1
1987,618,1,1.0,0,9,1,13,0.1,80,4,...,591,724,1424,15,12,7,1,1,0,0
1996,1965,1,2.6,1,0,0,39,0.2,187,4,...,915,1965,2032,11,10,16,1,1,1,2

In [18]:
df.loc[:, 'battery_power':'clock_speed']

      battery_power  blue  clock_speed
0               842     0          2.2
1              1021     1          0.5
2               563     1          0.5
3               615     1          2.5
4              1821     1          1.2
...             ...   ...          ...
1995            794     1          0.5
1996           1965     1          2.6
1997           1911     0          0.9
1998           1512     0          0.9
1999            510     1          2.0

[2000 rows x 3 columns]

In [19]:
df.iloc[:,[1,2,3]]

      blue  clock_speed  dual_sim
0        0          2.2         0
1        1          0.5         1
2        1          0.5         1
3        1          2.5         0
4        1          1.2         0
...    ...          ...       ...
1995     1          0.5         1
1996     1          2.6         1
1997     0          0.9         1
1998     0          0.9         0
1999     1          2.0         1

[2000 rows x 3 columns]

In [20]:
#filter kolom range 0-3 dan kolom ke 5 dan kolom range 7-10
df.iloc[:, np.r_[0:3, 5, 7:10]]

      battery_power  blue  clock_speed  four_g  m_dep  mobile_wt  n_cores
0               842     0          2.2       0    0.6        188        2
1              1021     1          0.5       1    0.7        136        3
2               563     1          0.5       1    0.9        145        5
3               615     1          2.5       0    0.8        131        6
4              1821     1          1.2       1    0.6        141        2
...             ...   ...          ...     ...    ...        ...      ...
1995            794     1          0.5       1    0.8        106        6
1996           1965     1          2.6       0    0.2        187        4
1997           1911     0          0.9       1    0.7        108        8
1998           1512     0          0.9       1    0.1        145        5
1999            510     1          2.0       1    0.9        168        6

[2000 rows x 7 columns]

Hitunglah luas jika dual_sim = 1, jika tidak maka hitung kurang:

- luas = tinggi(px_height) * lebar(px_width)
- kurang = tinggi - lebar

In [21]:
def luas(tinggi, lebar):
    hasil= tinggi * lebar
    return(hasil)

def kurang(tinggi, lebar):
    hasil_k= tinggi - lebar
    return(hasil_k)

In [22]:
df_new = df.copy()
lk = []
j= 0

for i in df_new['dual_sim']:
    if i == 1:
        lk.append(luas(df_new['px_height'][j], df_new['px_width'][j]))
    else:
        lk.append(kurang(df_new['px_height'][j], df_new['px_width'][j]))
    j+=1
df_new['L/K'] = lk

In [23]:
df_new.head()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range,L/K
0,842,0,2.2,0,1,0,7,0.6,188,2,...,756,2549,9,7,19,0,0,1,1,-736
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,1988,2631,17,3,7,1,1,0,2,1799140
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1716,2603,11,2,9,1,1,0,2,2167308
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1786,2769,16,8,11,1,0,0,2,-570
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1212,1411,8,2,15,1,1,0,1,-4

# Query

In [24]:
# filter dual_sim = 1 dan fc ganjil
df_new[
    (df_new['dual_sim'] == 1) &
    (df_new['fc'] % 2 == 1)
]

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range,L/K
5,1859,0,0.5,1,3,0,22,0.7,164,1,...,1654,1067,17,1,10,1,0,0,1,1660616
17,595,0,0.9,1,7,1,23,0.1,121,3,...,810,3752,10,2,18,1,1,0,3,357210
18,1131,1,0.5,1,11,0,49,0.6,101,5,...,878,1835,19,13,16,1,1,0,1,577724
24,503,0,1.2,1,5,1,8,0.4,111,3,...,1245,2583,11,0,12,1,0,0,1,250245
26,519,1,1.6,1,7,1,51,0.3,132,4,...,645,3763,16,1,4,1,0,1,3,354750
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1974,915,1,0.5,1,9,1,33,0.3,199,2,...,986,2156,7,3,13,1,1,0,1,495958
1977,1379,0,1.1,1,1,1,18,0.2,129,2,...,885,2358,10,5,15,1,1,0,2,741630
1992,674,1,2.9,1,1,0,21,0.2,198,3,...,1809,1180,6,3,4,1,1,1,0,1041984
1997,1911,0,0.9,1,1,1,36,0.7,108,8,...,1632,3057,9,1,5,1,1,0,3,1416576
1999,510,1,2.0,1,5,1,45,0.9,168,6,...,754,3919,19,4,2,1,1,1,3,364182

In [25]:
df_new.query('dual_sim==1 and fc%2 ==1')

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range,L/K
5,1859,0,0.5,1,3,0,22,0.7,164,1,...,1654,1067,17,1,10,1,0,0,1,1660616
17,595,0,0.9,1,7,1,23,0.1,121,3,...,810,3752,10,2,18,1,1,0,3,357210
18,1131,1,0.5,1,11,0,49,0.6,101,5,...,878,1835,19,13,16,1,1,0,1,577724
24,503,0,1.2,1,5,1,8,0.4,111,3,...,1245,2583,11,0,12,1,0,0,1,250245
26,519,1,1.6,1,7,1,51,0.3,132,4,...,645,3763,16,1,4,1,0,1,3,354750
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1974,915,1,0.5,1,9,1,33,0.3,199,2,...,986,2156,7,3,13,1,1,0,1,495958
1977,1379,0,1.1,1,1,1,18,0.2,129,2,...,885,2358,10,5,15,1,1,0,2,741630
1992,674,1,2.9,1,1,0,21,0.2,198,3,...,1809,1180,6,3,4,1,1,1,0,1041984
1997,1911,0,0.9,1,1,1,36,0.7,108,8,...,1632,3057,9,1,5,1,1,0,3,1416576
1999,510,1,2.0,1,5,1,45,0.9,168,6,...,754,3919,19,4,2,1,1,1,3,364182

# kesimpulan